{% load static %}

<style>
    .nav {
        display: flex;
        align-items: center;
        background-color: white;
        padding: 10px;
    }

    .nav a {
        text-decoration: none;
        color: #7CB9E8;
        margin-right: 25px;
    }

    .logo {
        height: 80px; 
        width: auto;
        margin-right: 0px;
    }

    .auth-links {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    .auth-links a {
        text-decoration: none;
        color: #7CB9E8;
        margin-left: 25px;
    }

    .auth-links span {
        text-decoration: none;
        color: #7CB9E8;
        margin-left: 5px;
    }
</style> 

<div class="nav" overflow="hidden">
    <a href="/">
        <img src="{% static 'images/Carleton-logo.jpg'%}" alt="logo" class="logo">
    </a>
    <a href="/club-events">
        <h4>Clubs &amp; Events</h4>
    </a>
    <a href="/major">
        <h4>Major</h4>
    </a>
    <a href="/useful-links">
        <h4>Useful Links</h4>
    </a>

    <div class="auth-links">
        {% if request.user.is_authenticated %}
        <span>Hello</span>
        <span style="text-transform:uppercase">{{ request.user }}</span>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</div>
