{% load static %}

<style>
    .nav {
        display: flex;
        align-items: center;
        background-color: white;
        padding: 10px;
    }

    .nav a {
        text-decoration: none;
        color: #7CB9E8;
        margin-right: 25px;
    }

    .logo {
        height: 80px; 
        width: auto;
        margin-right: 0px;
    }
</style> 

<div class="nav" overflow="hidden">
    <a href="/">
        <img src="{% static 'images/Carleton-logo.jpg'%}" alt="logo", class="logo">
    </a>
    <a href="/clubEvents">
        <h4>CLUBS &amp; EVENTS</h4>
    </a>
    <a href="/major">
        <h4>MAJOR</h4>
    </a>
    <a href="/tips">
        <h4>TIPS</h4>
    </a>
</div>

{% if request.user.is_authenticated %}
<p>Hello {{ request.user }}</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}