.computer-science {
    background-color: #fde8e3;
    color: #333;
}

.biology {
    background-color: #e0ffe0;
    color: #005500;
}

.engineering {
    background-color: #ffe0e0;
    color: #660000;
}
